.home{
    display: flex;
    margin: 0px;
    padding: 0px;
    background: gray;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.home .title h1{
    text-align: center;
    color: white;
    margin-top: 50px;
}