body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    margin-left: 200px;
    width: 50vw;
    height: 80vh;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }  
  .current-radio {
    background: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
  }
  
  .radio-list {
    background: #3a3a3a;
    padding: 15px;
    border-radius: 5px;
  }
  
  .radio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #555;
  }
  
  .radio-item:last-child {
    border-bottom: none;
  }
  
  .radio-info {
    display: flex;
  }
  
  .radio-info button {
    background: none;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    font-size: 28px;
  }
  
  .radio-info p {
    margin: 0;
    font-size: 20px;
  }
  .radio-info small{
    display: flex;
    font-size: 12px;
    color: gray;
    align-items: start;
    justify-content: start;
  }
  
  .radio-actions button {
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    margin-left: 10px;
    font-size: 28px;
  }
  
  .radio-actions button:hover {
    color: white;
  }