.sidebar{
    background: #141414;
    width: 370px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}
.sidebar button{
    margin-top: 20px;
    margin-left: 280px;
    padding: 10px;
    background: none;
    border: none;
    font-size: 40px;
    color: blue;
}
.sidebar .psq input{
    margin-top: 200px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: gray;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5),
                inset -3px -3px 6px rgba(255, 255, 255, 0.1);
}
.sidebar .psq input::placeholder{
    color: white;
}
.tag-container {
    margin: 20px;
    width: 300px;
    background: #141414;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .tag-list {
    max-height: 650px;
    max-width: 900px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    scrollbar-width: thin; 
    scrollbar-color: #888 #2c2c2c;
  }
  
  .tag-list::-webkit-scrollbar {
    width: 6px;
  }
  
  .tag-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .tag-list::-webkit-scrollbar-track {
    background: #2c2c2c;
  }
  
  .tag {
    background: #444;
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5),
                inset -3px -3px 6px rgba(255, 255, 255, 0.1);
  }
  
  .tag:hover {
    background: #555;
  }
  
  .checkmark {
    color: #00aaff;
    font-size: 18px;
  }